<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsables collapsables--expanded footer__section">
      <header class="collapsables__header">
        <h2 class="collapsables__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsables__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsables__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsables footer__section">
      <header class="collapsables__header">
        <h2 class="collapsables__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsables__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsables__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsables footer__section">
      <header class="collapsables__header">
        <h2 class="collapsables__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsables__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsables__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsables footer__section">
      <header class="collapsables__header">
        <h2 class="collapsables__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsables__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsables__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img class="footer__image" src="/images/logo.svg" alt="logo of brand" />
      <p class="footer__copyright">&copy copyright 2020 Jitendra Prajapati</p>
    </section>
  </div>
</footer>
