<section class="block">
  <header class="block__header">
    <h2 class="block__heading">What are cutomers are saying</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum est porro
      reiciendis iusto laborum alias.
    </p>
  </header>
  <div class="container">
    <div class="testimonial card">
      <div class="grid grid--cols-2">
        <!-- first column -->
        <div class="testimonial__image">
          <img src="/images/testimonial.jpg" alt="customer with angry face" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <!-- seconmd column -->
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            laborum dolorum hic exercitationem. Odio, laudantium odit, expedita
            explicabo maxime alias, dolore nulla perspiciatis quae ipsa beatae
            magnam dolorem nostrum inventore.
          </p>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__content">
              <h3 class="media__title quote__author">Jitendra prajapati</h3>
              <p class="quote__company">kumar private limited</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
