<div class="collapsables">
  <header class="collapsables__header">
    <h2 class="collapsables__heading">Products.</h2>
    <svg class="icon icon--white collapsables__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsables__content">
    <ul class="list">
      <li class="list__item">computer</li>
      <li class="list__item">laptop</li>
      <li class="list__item">mobiles</li>
      <li class="list__item">ipad</li>
    </ul>
  </div>
</div>
