<section class="block container block-domain">
  <header class="block__header">
    <h2>The Best WebHosting starting at per month</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate itaque
      cupiditate officia cumque! Molestias esse blanditiis, amet quaerat
      explicabo repudiandae.
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter your search text here..."
    />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >search
    </button>
  </div>
  <ul class="list block-domain__list">
    <li class="list__item">item 1</li>
    <li class="list__item">
      <span class="badge badge--secondary">10% off</span>
    </li>
    <li class="list__item">item 3</li>
    <li class="list__item">item 4</li>
    <li class="list__item">item 1</li>
    <li class="list__item">item 2</li>
  </ul>
</section>
