<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__content">
    <h3 class="media__title">Easy goining and simple management</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quod ipsum
      commodi nulla nesciunt, libero inventore ipsam adipisci delectus,
      architecto magnam perferendis. Facilis, officia voluptates. Ea facilis
      atque natus! Repellat?
    </p>
  </div>
</div>
