<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum
    dolorum hic exercitationem. Odio, laudantium odit, expedita explicabo maxime
    alias, dolore nulla perspiciatis quae ipsa beatae magnam dolorem nostrum
    inventore.
  </p>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__content">
      <h3 class="media__title quote__author">Jitendra prajapati</h3>
      <p class="quote__company">kumar private limited</p>
    </div>
  </div>
</blockquote>
